<% provide(:title, "Home") %>
<div class="jumbotron">
  <h2>Welcome to The Order of Coders</h2>
  <h4>A membership site for programming excellence</h4>

  <%= link_to "Sign up now!", sign_up_path, class: "btn btn-lg btn-primary" %>
</div>
