<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have received a message via the contact form at the Order of Coders site.
    </p>
    <p>
      This message if from <%= "#{@name}, #{@email}" %>
    </p>
    <p>
      <%= "#{@body}" %>
    </p>
  </body>
</html>
