<!-- <footer class="footer">
  <small>
    The Order of Coders
    by <a href="">Anna Schwab</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li></li>
    </ul>
  </nav>
</footer> -->

<div class="bottom text-center">
    <div class="footer">
      <a href="https://github.com/cloverharvest/coder_order_saas"><img id="github-link" src="https://cdn3.iconfinder.com/data/icons/social-media-2068/64/_github-48.png"></a>
      <p class="text-center" id="name-credit">
        <a href="https://github.com/cloverharvest">Anna Schwab</a>
      </p>
    </div>
</div>
