

<div class="bottom text-center">
    <div class="footer">
      <a href="https://github.com/cloverharvest/coder_order_saas"><img id="github-link" src="https://cdn3.iconfinder.com/data/icons/social-media-2068/64/_github-48.png"></a>
      <p class="text-center" id="name-credit">
        <a href="https://github.com/cloverharvest">Anna Schwab</a>
      </p>
    </div>
</div>
